<header id="header" class="fixed top-0 left-0 w-full z-50 transition-all duration-300 bg-transparent backdrop-blur-lg shadow-md h-20">
  <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between h-full">
  
    <div class="absolute left-4 flex items-center space-x-2 px-5">
      <img src="logo/campingo-logo.png" alt="Logo" class="h-40 w-40 transform transition-all duration-300 hover:scale-110">
    </div>

   
    <nav class="hidden md:flex space-x-8 ml-auto">
      <a href="#" class="font-[Pacifico] text-green-700 hover:text-green-600 text-xl transition-all duration-300 ease-in-out">
        🏕️ Accueil
      </a>
      <a href="#" class="font-[Pacifico] text-green-700 hover:text-green-600 text-xl transition-all duration-300 ease-in-out">
        🎒 Produits
      </a>
      <a href="#" class="font-[Pacifico] text-green-700 hover:text-green-600 text-xl transition-all duration-300 ease-in-out">
        🔥 Services
      </a>
      <a href="#" class="font-[Pacifico] text-green-700 hover:text-green-600 text-xl transition-all duration-300 ease-in-out">
        📍 Contact
      </a>
    </nav>

    
    <button (click)="toggleMenu()" class="md:hidden text-white focus:outline-none absolute right-6 hover:bg-green-600 rounded-lg transition-all duration-500  ">
      <svg class="h-8 w-8 transform transition-all duration-300 ease-in-out"
      [ngClass]="{'rotate-45': isMenuOpen, 'rotate-0': !isMenuOpen}"
      fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>

<div *ngIf="isMenuOpen" class="md:hidden absolute top-full left-0 w-full bg-gradient-to-r from-green-600 to-brown-600 shadow-xl transition-all duration-500 ease-in-out">
  <nav class="flex flex-col items-center py-6 space-y-4">
    <a href="#" class="text-white hover:text-yellow-300 font-semibold text-xl transition-all duration-300">
      <i class="fas fa-home"></i> Accueil
    </a>
    <a href="#" class="text-white hover:text-yellow-300 font-semibold text-xl transition-all duration-300">
      <i class="fas fa-campground"></i> Produits
    </a>
    <a href="#" class="text-white hover:text-yellow-300 font-semibold text-xl transition-all duration-300">
      <i class="fas fa-cogs"></i> Services
    </a>
    <a href="#" class="text-white hover:text-yellow-300 font-semibold text-xl transition-all duration-300">
      <i class="fas fa-phone-alt"></i> Contact
    </a>
  </nav>
</div>

</header>
